@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7fc;
  margin: 40px;
}

.header {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
