<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TITLE -->
    <title>Sri Lanka - Covid Stats</title>

    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

</head>
<body>
    
    <div class="header">
        <div id="total" class="card">
            <div class="number">
                12345
            </div>
            <div class="factor">
                Total
            </div>
        </div>
    </div>

</body>
</html>